deployment/n8n/daily_pipeline.json
{
  "name": "MLB Daily Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/mlb-video-pipeline && source mlb-env/bin/activate && python scripts/fetch_games.py --date $(date -d 'yesterday' '+%Y-%m-%d')"
      },
      "name": "Fetch Yesterday Games",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/mlb-video-pipeline && source mlb-env/bin/activate && python scripts/generate_video.py --date $(date -d 'yesterday' '+%Y-%m-%d')"
      },
      "name": "Generate Videos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "#mlb-pipeline",
        "text": "=Daily MLB videos generated: {{ $json.stdout }}"
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Yesterday Games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yesterday Games": {
      "main": [
        [
          {
            "node": "Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
